@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html {
  scroll-behavior: smooth;
  scroll-padding-top: 88px;
}


body {
  opacity: 1;
  color: #0028aa;
  background-color: #F8F8F8;
  
}

.image-container {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    bottom: 0;
    
    
    color: white;
    padding: 5px 20px;
  }
/* DO NOT REMOVE CAROUSEL CSS */
  /* #carousel{
    width: 60%;
  } */
  